<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<servlet>
		<servlet-name>redfireSummary</servlet-name>
		<servlet-class>com.ifsoft.iftalk.plugin.voicebridge.view.VoiceBridgeSummary</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>redfireSetting</servlet-name>
		<servlet-class>com.ifsoft.iftalk.plugin.voicebridge.view.VoiceBridgeSettings</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>redfireUserSummary</servlet-name>
		<servlet-class>com.ifsoft.iftalk.plugin.voicebridge.view.UserSummary</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>redfireProfileSummary</servlet-name>
		<servlet-class>com.ifsoft.iftalk.plugin.voicebridge.view.ProfileSummary</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>redfireProfileDetail</servlet-name>
		<servlet-class>com.ifsoft.iftalk.plugin.voicebridge.view.ProfileDetail</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>redfireInterestDetail</servlet-name>
		<servlet-class>com.ifsoft.iftalk.plugin.voicebridge.view.InterestDetail</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>redfireCallHistory</servlet-name>
		<servlet-class>com.ifsoft.iftalk.plugin.voicebridge.view.CallHistory</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>redfireSummary</servlet-name>
		<url-pattern>/voicebridge-summary</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>redfireSetting</servlet-name>
		<url-pattern>/voicebridge-settings</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>redfireUserSummary</servlet-name>
		<url-pattern>/voicebridge-user-summary</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>redfireProfileSummary</servlet-name>
		<url-pattern>/voicebridge-profile-summary</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>redfireProfileDetail</servlet-name>
		<url-pattern>/voicebridge-profile-detail</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>redfireInterestDetail</servlet-name>
		<url-pattern>/voicebridge-interest-detail</url-pattern>
	</servlet-mapping>	

	<servlet-mapping>
		<servlet-name>redfireCallHistory</servlet-name>
		<url-pattern>/voicebridge-call-history</url-pattern>
	</servlet-mapping>	
</web-app>
