<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="DebugLogs" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/voicebridge_debug.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="8" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %c{2} - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
 			<param name="LevelToMatch" value="debug"/>
 			<param name="AcceptOnMatch" value="true"/>
		 </filter>
		 <filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>
    
   
    
    <appender name="InfoLogs" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/voicebridge_info.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="8" />		
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %c{2} - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
 			<param name="LevelToMatch" value="info"/>
 			<param name="AcceptOnMatch" value="true"/>
		 </filter>
		 <filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>
    
    <appender name="ErrorLogs" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/voicebridge_error.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="8" />		
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %c{2} - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
 			<param name="LevelToMatch" value="error"/>
 			<param name="AcceptOnMatch" value="true"/>
		 </filter>
		 <filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>
    
    <appender name="WarnLogs" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/voicebridge_warn.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="8" />		
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %c{2} - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelMatchFilter">
 			<param name="LevelToMatch" value="warn"/>
 			<param name="AcceptOnMatch" value="true"/>
		 </filter>
		 <filter class="org.apache.log4j.varia.DenyAllFilter"/>
    </appender>
    
	<root>
	  <appender-ref ref="DebugLogs" />
	  <appender-ref ref="InfoLogs" />
	  <appender-ref ref="ErrorLogs" />
	  <appender-ref ref="WarnLogs" />			
	</root>
	
</log4j:configuration>