<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>com.ifsoft.redfire.RedfirePlugin</class>
    <name>Redfire</name>
    <description>Red5 Plugin for Openfire</description>
    <author>Dele Olajide</author>
    <version>0.0.2.1</version>
    <minServerVersion>3.7.0</minServerVersion> 
    <databaseKey>voicebridge</databaseKey>
    <databaseVersion>0</databaseVersion>
</plugin>